body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #5E6754;
}
a{
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    color: #5E6754;
}
h1{
   font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin: 0px; 
    padding-top: 10px;
}
h4{
    font-weight: 100;
    text-align: center;
    margin: 0px;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
header{
    width: 100%;
    height: 120px;
}
hr{
    border: 2px solid #BCBBBB;
}
.logo{
    width: 120px;  
    position: absolute;
    margin-left: 10px;
}
.name{
    font-weight: 100;
    font-size: 62px;
    text-align: right;
    letter-spacing: 2px;
}
.name span{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    display: block;
}
.sample1{
    width: 100%;
    margin-top: 30px;
}
.featured{
    margin-top: 30px;
}
.title{
    font-size: 36px;
    color: #BCBBBB;
    letter-spacing: 1px;
    padding-left: 10px;
}
.container{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
article{
    width: calc((100% - 50px) / 3); 
    width: -webkit-calc((100% - 50px) / 3);
    width: -moz-calc((100% - 50px) / 3);
    margin-top: 10px;
    margin-right: 25px;
}
article:last-child{
    margin-right: 0px;
}
.thumb{
    width: 100%;
}


@media screen and (max-width: 470px){
    h1{
        font-size: 32px;
        color: #FFFFFF;
    }
    .logo{
        display: none;  
    }
    header{
        height: auto;
    }
    .name{
        font-size: 42px;
    }
    .sample1{
        margin-top: 0px;
    }
    article{
        width: 100%; 
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        max-width: 320px;
    }
    article:last-child{
        margin-right: auto;
    }
    .title{
        font-size: 28px;
        padding: 0px;
    }
    .thumb{
        width: 100%;
    }
    .thumb-text{
        position: absolute;
        margin-top: -80px;
        width: calc(100% - 16px);
        max-width: 320px;
        height: 75px;
        background: rgba(44, 43, 43, 0.83);
    }
    a{
        color: #FFFFFF;
    }
}
@media screen and (min-width: 471px) and (max-width: 800px){
    article{
       min-width: 200px; 
    }
    a{
        font-size: 12px;
    }
    h1{
        font-size: 28px;
    }
    header{
        height: auto;
    }
    .logo{
        width:  84px
    }
    .name{
        font-size: 48px;
    }
}